* {
  box-sizing: border-box;
  color: #424748;
}

body {
  padding: 50px;
  font: 14px "Wellfleet", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("https://cdn.gamer-network.net/2018/usgamer/dark-souls-1-bonfire.jpg/EG11/thumbnail/1920x1080/format/jpg/quality/65/dark-souls-trilogy-box-set-also-announced-for-ps4-but-its-crazy-expensive.jpg")
}

.brand-logo {
  margin-left: 15px;
}

nav {
  background-color: #b71c1c;
}

h2 {
  text-align: center;
  color: #b71c1c;
  margin-top: 2%;
}

.home-page {
  max-width: 90%;
  padding: 0 3% 0 3%;
  margin: 3% 0 0 5%;
  background-color: #ffff00;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ff6f00;
}

.home-page p {
  color: #b71c1c;
}

.nav-wrapper {
  color: #ffab00;
}

.container {
  margin-top: 5%;
}

.link-wrapper {
  margin-left: 5%;
  background-color: #ffff00;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  background: #ff6f00;
}

.card-title {
  margin: 10px;
}

.card-content {
  border: 3px solid #ffff00;
}

.post-title {
  margin: 3%;
  font: 25px "Merriweather";
  font-weight: 700;
}

.post {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #b71c1c;
}

.post-content {
  margin: 3%;
  font: 12px "Merriweather";
  font-weight: 300;
}

.comment-content {
  font: 20px "Tenali Ramakrishna";
}

.new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  background-color: #ffff00;
  border: 3px solid #ff6f00;
}

.new-form h2 {
  text-align: center;
  color: #b71c1c;
}

.new-form form label {
  font: 20px "Wellfleet";
  color: #b71c1c;
  position: static;
}

#new-form button[type="submit"] {
  margin: 3%;
}

#comments-ratings-section {
  margin-top: 5%
}

#comments-ratings-section label {
  font: 20px "Wellfleet";
  color: #b71c1c;
}

#comments-ratings-list button {
  margin-left: 70%;
}

table {
  margin-top: 5%;
}

.posts-wrapper {
  background-color: #ff6f00;
  border: 3px solid #ffff00;
}

.posts-wrapper ul li form {
  margin: 3% 0 3% 3%;
  display: grid;
}

.posts-wrapper ul li form button {
  max-width: 15%;
}

img {
  width: 100%;
  display: block;
  margin: 3% auto 0 auto;
}

.comment-buttons {
  display: grid;
}