<%- include('../partials/header') %>
<div class="home-page">
    <h3> Welcome to Dark Game Secrets!</h3>
    <h6>For All The Gamers Out There Who Are Passionate About:</h6>
    <ul>
        <li>Finding Hidden Easter Eggs</li>
        <li>Helping Other Gamers Find Easier Ways to Complete Bosses/Levels</li>
        <li>Talking About Different Builds or Strategies For Charecter Development</li>
        <li>Or Simply To Just Connect With Other Gamers!</li>
    </ul>
    <h6>In Order To Create A Blog Or Add Comments Too A Blog You Will Need To Sign In!</h6>
    <p>Be Warned! If You Do Attempt To Post A False/Misleading Blog It Will Get Rated In The Comments Section For Its Overall Rating, a.k.a. "Who You Trying To Fool?"</p>

</div>
<%- include('../partials/footer') %>